#getQText {
  font-family: Source Sans Pro;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: 45px;
  letter-spacing: 0.20000000298023224px;
  text-align: left;
  color: #003459;
}
