.design img{
  margin: 40px auto;
  width: 100%;
}
.tagline{
  font-family: 'Source Sans Pro', sans-serif;
font-style: normal;
font-weight: 900;
font-size: 2.5rem;
line-height: 57px;
text-align: center;
letter-spacing: 0.2px;
color: #003459;
}
@media (max-width: 480px){
  .design img{
    margin: 10px 0;
    height: 100px;
  }
  .tagline{
    font-size: 1.4rem;
    line-height: 37px;
  }
}