#navBarTop {
  padding-left: 150px;
  padding-right: 150px;
  background: #003459;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.2);
}

.textColorAndWeight {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.2px;
}

.searchCategory:hover {
  background-color: #003459;
  color: #ffffff;
}
